 

@import url(https://fonts.googleapis.com/css?family=Oswald);
 /* 
    preto: #343334
 */

 * {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo 2';
 }
 body,html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
 }

 main{
    width: 100%;
    height: 100%;
    background-color: #343334;
 }

 span.material-symbols-outlined{
    position: absolute;
    display: inline;
    margin: 25px 0 0px 25px;
    color: #ff8636;
    font-size: 50px;
 }

 span.material-symbols-outlined:hover{
    color: #ffa66b;
    cursor: pointer;
 }

 h1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Oswald';
    text-align: center;

    border-bottom: 5px solid #ff8636;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    color: #ff8636;
 }

 .card1, .card2, .card3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 25%;
    height: 35%;

    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.712);
    
    transition: top .3s;
    transition-timing-function: ease;
 }

 .card1{
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
 }

 .card3{
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
 }
 .card-top {
    position: absolute;
    background-color: hsl(300, 1%, 20%);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color .3s;
    transition-timing-function: ease;
 }
.card-bottom {
    position: absolute;
    top: 100%;
    background-color: #f8f8f8;
    width: 100%;
    height: 0%;
    z-index: 0;
    transition: height .3s;
    transition-timing-function: ease;
    overflow: hidden;
}
.card-bottom p{
    text-align: center;
    margin: 45px auto 15px;
    color: transparent;
}
.card-bottom button{
    display: block;

    position: absolute;
    left: -25%;
    top: 65%;
    transform: translate(-50%, 50%);
    
    padding: 6px 4px;
    border: 1px solid rgba(0, 0, 0, 0.795);

    font-weight: 100;
    text-transform: uppercase;

    background-color: #ffffff;

    transition: .2;
}

.card:hover .card-bottom{
    height: 100%;
    transition: height .3s;
    transition-timing-function: ease;
}
.card:hover .card-bottom p{
    width: 80%;
    color: rgb(99, 99, 99);
    transition: .3s;
}
.card:hover .card-bottom button{
    left: 50%;
    transition: top .1s;
}
.card button:hover{
    background-color: #343334;
    color: #ff8636;
    cursor: pointer;
}

.card:hover{
    top: calc(50% - 17.5%);
    transition: .3s;
    transition-timing-function: ease;
}
.card2:hover{
    top: calc(50% - 10%);
    transition: .3s;
    transition-timing-function: ease;
}
.card:hover .card-top,.card-bottom{
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.138);
}
.card:hover .card-top{
    background: url('../imagens/desafio3/desafio3_img.png') no-repeat;
    background-size: contain;
    background-position: bottom center;

    background-color: #30c970;
    transition: .3s;
    transition-timing-function: ease;
}
.card:hover.card2 .card-top{
    background: url('../imagens/desafio3/desafio3_img2.png') no-repeat;
    background-size: cover  ;
    background-color: #0044ff;
}
.card:hover.card3 .card-top{
    background: url('../imagens/desafio3/desafio3_img3.png') no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    background-color: #cc1313;
}
