* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(72deg, #3DEBB0 1%, #8946F3 99%);
}

input{
    display: none;
}

.content {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 935px;
    height: 520px;

    border-radius: 20px;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0px;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color .3s;
}

.bar:not(:last-child){
    margin-right: 40px;
}

.bar:hover{
    background-color: white;
    transition: .3s;
}